<a href="https://colab.research.google.com/github/AlexzanderReyes/VDA-CpE-031-CpE-21S4/blob/main/Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# EXAMPLE 1
import pandas

mydataset = {'animals': ["Cat","Dog","Rabbit"],
             'height': [13,17,8]
            }
myvar = pandas.DataFrame(mydataset)

print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

In [11]:
# EXAMPLE 2
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar[1])

7

In [7]:
# EXAMPLE 3
import pandas as pd

data = {
    "age": [42,38,39],
    "weight":[50,40,45]
}

myvar = pd.DataFrame(data)
print(myvar.loc[[0,1,2]])

   age  weight
0   42      50
1   38      40
2   39      45

In [5]:
# EXAMPLE 4
import pandas as pd

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

dframe = pd.DataFrame([s1,s2,s3,s4])

print(dframe)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

In [9]:
# EXAMPLE 5
import pandas as pd
s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

#creating multi-dimensional table
dframe = pd.DataFrame([s1,s2,s3,s4],index =[0,1,2,3], columns =[0,1,2])
print(dframe)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

CHALLENGE 2

In [10]:
import pandas as pd
s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

dframe = pd.DataFrame([s1,s2,s3,s4], index = [0,1,2,3], columns = [0,1,2])
dframe = pd.DataFrame.drop(dframe, [0,1,3])
print(dframe)

   0  1   2
2  2  6  10